picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
}

img {
  box-shadow: 0 0 15 #999;
  border-radius: 50%;
}

.no-image{
  width: 100px;
    box-shadow: 0 0 15 #999;
  border-radius: 50%;
}

img.disabled {
  opacity: 0.3;
}

picture.is-small {
  width: 50px;
}
picture.is-large {
  width: 200px;
}
